{% extends "base.html" %}
{% load static %}
{% block title %}
Home
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/new1.css' %}">
{% endblock css %}
{% block content %}
                <div class="header">
                    <h1 style="color:#1D4F8B">TimeTable Management System</h1>
                    <div class="profile-link">
                        <a href="{% url 'logout' %}" class="text-primary" onclick="return confirm('Are you sure ?');"><i class="fa fa-sign-out-alt" aria-hidden="true"></i> Sign Out</a>
                    </div>
                </div>

                <div class="card">
                    <h2 class="card-title">Add / Edit TimeTable</h2>
                    <p>Create a new or edit timetable.</p>
                    <a href="{% url 'showtimetable' %}">
                        <button class="btn button">View Details</button>
                    </a>
                </div>

                <div class="card">
                    <h2 class="card-title">Add / Edit Subjects</h2>
                    <p>View details of all students.</p>
                    <a href="{% url 'subject_list' %}">
                        <button class="btn button">View Details</button>
                    </a>
                </div>

                <div class="card">
                    <h2 class="card-title">Add / Edit Courses</h2>
                    <p>View details of all courses.</p>
                    <a href="{% url 'course' %}">
                        <button class="btn button">View Details</button>
                    </a>
                </div>
                
                <div class="card">
                    <h2 class="card-title">Add / Edit Faculty</h2>
                    <p>View details of all faculties.</p>
                    <a href="{% url 'faculty_list' %}">
                        <button class="btn button">View Details</button>
                    </a>
                </div>
  {% endblock content %}